*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project-dev/
project-0.11/
project-0.12/
project-0.13/
project-0.14/
_*

# Scala-IDE specific
.scala_dependencies

# Eclipse IDE
.settings/
.cache
.project
.classpath
